@tailwind base;
@tailwind components;
@tailwind utilities;


@import url("https://fonts.googleapis.com/css?family=Audiowide");

@layer base{
    body {
        @apply font-[Audiowide];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}


.container::-webkit-scrollbar {
    width: 8px; 
}

.container::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
}

.container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}